.light {
    background-color: white;
    color: black;
    border: 2px;
}

.dark {
    background-color: black;
    color: white;
    border: 2px;
}

.normal {
    font-size: 12px;
}

.big {
    font-size: 18px;
}